<app-layout>
  <div class="card main">
      <div class="card-body">
        <h3 class="card-title">Cliente - {{operacao}}</h3>
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="nome"class="control-label">Nome:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nome" />
          </div>
          <div class="form-group col-lg-12">
            <label for="endereco"class="control-label">Endereço:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.endereco" />
          </div>
          <div class="form-group col-lg-6">
            <label for="cidade"class="control-label">Cidade:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.cidade" />
          </div>
          <div class="form-group col-lg-6">
            <label for="cep"class="control-label">CEP:</label>
            <input type="text" class="form-control" (keyup)="mascaraCEP()" (keydown)="mascaraCEP()" [(ngModel)]="cliente.cep" />
          </div>
          <div class="form-group col-lg-6">
            <label for="uf"class="control-label">UF:</label>
            <select [(ngModel)]="cliente.uf" class="form-control">
                <option [ngValue]="null">Selecione</option>
                <option *ngFor="let uf of listaUF" [ngValue]="uf">{{uf}}</option>
            </select>
          </div>
          <div class="form-group col-lg-6">
            <label for="telefone"class="control-label">Telefone:</label>
            <input type="text" class="form-control" (keyup)="mascaraFone()" (keydown)="mascaraFone()" [(ngModel)]="cliente.telefone" />
          </div>

        </div>


        <div class="row">
          <div class="col-lg-12">
            <button *ngIf="operacao == 'Incluir'" type="button" class="btn btn-primary buttons" (click)="incluir()">Incluir</button>
            <button *ngIf="operacao != 'Incluir'" type="button" class="btn btn-primary buttons" (click)="alterar()">Alterar</button>
            <button type="button" class="btn btn-primary buttons" (click)="voltar()">Voltar</button>
          </div>
        </div>

      </div>
  </div>
</app-layout>
